@tailwind base;
@tailwind components;
@tailwind utilities;

.input-error {
  @apply border-red-600 transition-colors hover:border-red-600 focus:border-red-600 focus:outline-none focus:ring-2 focus:ring-red-600 focus:ring-opacity-50;
}
/* z-index rule
 0-9 페이지 레이어
 10-14 헤더, 스티키 영역
 15 툴팁
 20 드랍다운
 21-29 모달
 30-39 토스트, 알림 */

.kakao-button {
  background-image: url('../public/icon/kakao_login_medium_narrow.png');
  min-width: 183px;
  height: 45px;
}
